ANDROID_KEYSTORE_PATH=~/.secrets.d/mah-upload-key.keystore
ANDROID_KEYSTORE_PASSWORD=*****

ANDROID_KEY_ALIAS=mah-key-alias
ANDROID_KEYSTORE_ALIAS_PASSWORD=*****

# https://test.mosquitto.org/
VITE_MQTT_BROKER_URL=wss://test.mosquitto.org:8081
VITE_MQTT_BROKER_USER=
VITE_MQTT_BROKER_PASSWORD=
